cc-slack-integration/n8n-workflow-slack-polling.json
{
  "name": "CC Slack Polling → Notion Inbox",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/1 * * * *"
            }
          ]
        }
      },
      "name": "Every 1 Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channelId": {
          "__rl": true,
          "value": "YOUR_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "#cc-test"
        },
        "limit": 10,
        "filters": {
          "oldest": "={{ $now.minus({ minutes: 2 }).toSeconds() }}"
        }
      },
      "name": "Get Recent Slack Messages",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [450, 300],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack - CC Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text }}",
              "operation": "contains",
              "value2": "CC —"
            },
            {
              "value1": "={{ $json.user }}",
              "operation": "notEqual",
              "value2": "{{ $('Get Recent Slack Messages').item.json.bot_id }}"
            }
          ]
        }
      },
      "name": "Filter: Contains CC — and Not Bot",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract request from message\nconst text = $input.item.json.text;\nconst requestText = text.replace(/^CC\\s*—\\s*/i, '').trim();\n\n// Check if we've already processed this message\nconst timestamp = $input.item.json.ts;\nconst messageId = `slack-${timestamp}`;\n\n// Get channel and thread info\nconst channelId = $input.item.json.channel;\nconst threadTs = $input.item.json.thread_ts || $input.item.json.ts;\n\nreturn {\n  request_text: requestText,\n  message_id: messageId,\n  slack_channel_id: channelId,\n  slack_thread_ts: threadTs,\n  slack_message_ts: timestamp,\n  user_id: $input.item.json.user,\n  original_text: text\n};"
      },
      "name": "Extract Request Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "databaseId": "29094405-56f7-8060-af28-eee401918ced",
        "title": "={{ $json.request_text }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status",
              "selectValue": "Pending"
            },
            {
              "key": "Wake CC",
              "checkboxValue": true
            },
            {
              "key": "Priority",
              "selectValue": "={{ $json.request_text.toLowerCase().includes('urgent') ? 'Urgent' : 'Medium' }}"
            },
            {
              "key": "Source",
              "textValue": "Slack #cc-test"
            },
            {
              "key": "Slack Channel ID",
              "textValue": "={{ $json.slack_channel_id }}"
            },
            {
              "key": "Slack Message TS",
              "textValue": "={{ $json.slack_message_ts }}"
            }
          ]
        }
      },
      "name": "Create Notion CC Inbox Item",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1050, 300],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion - CC Inbox"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Extract Request Details').item.json.slack_channel_id }}",
          "mode": "id"
        },
        "text": "✅ Got it! I'll process your request when CC wakes up.",
        "otherOptions": {
          "thread_ts": "={{ $('Extract Request Details').item.json.slack_thread_ts }}"
        }
      },
      "name": "Reply to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1250, 300],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack - CC Bot"
        }
      }
    }
  ],
  "connections": {
    "Every 1 Minute": {
      "main": [
        [
          {
            "node": "Get Recent Slack Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Slack Messages": {
      "main": [
        [
          {
            "node": "Filter: Contains CC — and Not Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Contains CC — and Not Bot": {
      "main": [
        [
          {
            "node": "Extract Request Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Request Details": {
      "main": [
        [
          {
            "node": "Create Notion CC Inbox Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion CC Inbox Item": {
      "main": [
        [
          {
            "node": "Reply to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-18T00:00:00.000Z",
  "versionId": "1"
}
