n8n-workflows/archive/oct-2024-production/audio_generation_agent.json
{
  "name": "Audio Generation Agent (Fixed)",
  "nodes": [
    {
      "parameters": {
        "jsCode": " console.log('Webhook received data:', JSON.stringify($json, null, 2));\n\n  let slides = [];\n\n  // Handle the full structure with module/course info\n  if ($json.slides && Array.isArray($json.slides)) {\n    slides = $json.slides;\n  } else if (Array.isArray($json)) {\n    slides = $json;\n  } else if ($json.slide_number) {\n    slides = [$json];\n  }\n\n  console.log(`Processing ${slides.length} slides for audio generation`);\n\n  // Return array of slides with complete context\n  return slides.map((slide, index) => ({\n    slide_number: slide.slide_number || index + 1,\n    slide_title: slide.slide_title || `Slide ${index + 1}`,\n    slide_content: slide.slide_content || '',\n    module_title: $json.module_title || 'Evidence-Based Practice Fundamentals',  // From webhook root\n    course_title: $json.course_title || 'Professional Healthcare Practice',      // From webhook root\n    voice_selection: $json.voice_selection || 'Charon',                         // From webhook root\n    target_audience: $json.target_audience || 'Registered Nurses',              // From webhook root\n    timestamp: new Date().toISOString()\n  }));"
      },
      "id": "parse-slide-data",
      "name": "Parse Slide Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst prompt = `You are an expert Australian voiceover script writer creating professional audio content for education.\n\nCONTEXT:\nSlide Number: ${$json.slide_number}\nSlide Title: ${$json.slide_title}\nSlide Content: ${$json.slide_content}\nModule: ${$json.module_title}\nCourse: ${$json.course_title}\nVoice Selection: ${$json.voice_selection}\nTarget Audience: ${$json.target_audience}\n\nCreate a professional 2-3 minute voiceover script with:\n- Professional, conversational Australian tone\n- Natural speech patterns with strategic pauses\n- Emphasis on key learning points\n- Pronunciation guides for technical terms\n- Voice selection compliance: ${$json.voice_selection}\n\nOutput structured script with introduction, main content, transition/summary, pronunciation guide, and delivery instructions.`;\n\nreturn {\n    prompt: prompt,\n    slide_number: $json.slide_number,\n    slide_title: $json.slide_title,\n    slide_content: $json.slide_content,\n    module_title: $json.module_title,\n    course_title: $json.course_title,\n    voice_selection: $json.voice_selection,\n    target_audience: $json.target_audience\n};\n"
      },
      "id": "prepare-script-prompt",
      "name": "Prepare Script Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.68.61:5000/knowledge/add",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n    \"content\": \"Audio generated for {{ $json.module_title }} - Slide {{ $json.slide_number }}\",\n    \"metadata\": {\n      \"type\": \"audio_generation\",\n      \"slide_number\": \"{{ $json.slide_number }}\",\n      \"slide_title\": \"{{ $json.slide_title }}\",\n      \"module_title\": \"{{ $json.module_title }}\",\n      \"course_title\": \"{{ $json.course_title }}\",\n      \"voice_script\": \"{{ $json.voiceScript }}\",\n      \"audio_url\": \"{{ $json.audioUrl }}\",\n      \"voice_type\": \"{{ $json.voice_selection }}\",\n      \"generation_timestamp\": \"{{ new Date().toISOString() }}\",\n      \"audio_success\": \"{{ $json.success }}\",\n      \"slide_name\": \"{{ $json.slideName }}\"\n    }\n  }",
        "options": {}
      },
      "id": "store-audio-knowledge",
      "name": "Store Audio in Knowledge Lake",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1296,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract from OpenAI response format\n  const response = $json.message.content || '';\n\n  // Clean the script for TTS (same cleaning code)\n  const cleanScript = response\n    .replace(/\\*\\*.*?\\*\\*/g, '')\n    .replace(/\\[.*?\\]/g, ' ')\n    .replace(/\\n\\n+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  return {\n    slide_number: $json.slide_number || $itemIndex + 1,  // Use item index if no slide_number\n    slide_title: $json.slide_title || `Slide ${$itemIndex + 1}`,\n    voiceScript: cleanScript,\n    voiceType: $json.voice_selection || 'Charon',\n    slideName: `slide_${$json.slide_number || $itemIndex + 1}`,  // Consistent numbering\n    module_title: $json.module_title || 'Unknown Module',\n    course_title: $json.course_title || 'Unknown Course'\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        256
      ],
      "id": "3105a9d9-44fb-4771-ad22-7bfd083b7437",
      "name": "Extract Clean Script"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbzvEl0RK05sdKsjwqVWraThbWwQ8NL-ZnoNUjQ9qhjQh3Oe-rVvRdU2__pPnwCWy1mq-Q/exec",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n    \"voiceScript\": \"{{ $json.voiceScript }}\",\n    \"voiceType\": \"{{ $json.voice_selection }}\",\n    \"slideName\": \"{{ $json.slideName }}\"\n  }",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        336
      ],
      "id": "d2b6ae17-758a-40f8-8f15-2ea009acab0b",
      "name": "Generate Audio via Australian Healthcare TTS"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=Transform the following slide content into flowing, engaging paragraphs for professional Australian healthcare\n  practitioners:\n\n  Requirements:\n  1. Transform the outline into flowing, engaging paragraphs (NO bullet points)\n  2. Use sophisticated, professional language suitable for healthcare professionals\n  3. Include practical applications and real-world examples\n  4. Reference Australian healthcare context naturally (AHPRA, NMBA, PBS, MBS where relevant)\n  5. Aim for 120-150 words for optimal voiceover timing\n  6. Create content that demonstrates authority and expertise\n  7. Use evidence-based language and cite relevant Australian guidelines\n  8. Include transition phrases for smooth audio flow\n\n  Slide Content: {{ $json.slide_content }}\n  Module: {{ $json.module_title }}\n  Audience: {{ $json.target_audience }}\n\n  Generate professional voiceover script:\n",
              "role": "assistant"
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        640,
        272
      ],
      "id": "cee346a8-1dc4-4569-83f8-f167286a12ca",
      "name": "Generate Voiceover Script (Fred)",
      "credentials": {
        "openAiApi": {
          "id": "vaQhkwvId8g1F1HL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1fK-4Bgq9ju1jV2ouk_yVpTYS3AZZhCuo7DhOOgnj8kA",
          "mode": "list",
          "cachedResultName": "Concept to Course Requests",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fK-4Bgq9ju1jV2ouk_yVpTYS3AZZhCuo7DhOOgnj8kA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2017132903,
          "mode": "list",
          "cachedResultName": "Audio ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fK-4Bgq9ju1jV2ouk_yVpTYS3AZZhCuo7DhOOgnj8kA/edit#gid=2017132903"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "e4c05795-94c5-4be0-babf-53e7a394e2ee",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "MpPi6ajn0LPqhIj5",
          "name": "Google Sheets Trigger account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Parse Slide Data": {
      "main": [
        [
          {
            "node": "Prepare Script Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Script Prompt": {
      "main": [
        [
          {
            "node": "Generate Voiceover Script (Fred)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Clean Script": {
      "main": [
        [
          {
            "node": "Generate Audio via Australian Healthcare TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio via Australian Healthcare TTS": {
      "main": [
        [
          {
            "node": "Store Audio in Knowledge Lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voiceover Script (Fred)": {
      "main": [
        [
          {
            "node": "Extract Clean Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Parse Slide Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "836a38cb-806f-4b2d-aa52-7ff4850efe44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fef6caac326c0a4720dfab3ee1ef35ca62d3251d9fffea7995d4c705314b21ec"
  },
  "id": "Bw8Iihg8eIgVb7mc",
  "tags": []
}